@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div style="width:100%; height:100%;">
    <div style="padding:15pt;" class="col-md-offset-3 col-md-6">
        <div style="width: 100%; padding:15pt;" class="mdl-card mdl-shadow--2dp">
            <h4>Create a new Seller account</h4>
            <hr />
            <form asp-route-returnUrl="@Model.ReturnUrl"  method="post">
                <div style="text-align:center">
                    <div class="mdl-textfield mdl-js-textfield text-left">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="mdl-textfield__input" />
                    </div>
                    <br />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <br/>
                    
                    <div class="mdl-textfield mdl-js-textfield text-left">
                        <label asp-for="Input.Password" ></label>
                        <input asp-for="Input.Password" class="mdl-textfield__input" />
                    </div>
                    <br />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <br/>

                    <div class="mdl-textfield mdl-js-textfield text-left">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="mdl-textfield__input" />
                    </div>
                    <br />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <br/>                
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-button--primary">Register</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
