@using SEContactManager.ApplicationCore.Entity

@model SEContactManager.ApplicationCore.Entity.Customer

@{
    ViewData["Title"] = "Edit";
}

<div style="width:100%; height:100%;">
    <div style="padding:15pt;" class="col-md-offset-3 col-md-6">
        <div style="width: 100%; padding:15pt;" class="mdl-card mdl-shadow--2dp">
            <h2>Edit Contact</h2>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="text-align:center">
                    <div class="mdl-textfield mdl-js-textfield text-left">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="mdl-textfield__input" />
                    </div>
                    <br />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <br />

                    <div class="mdl-textfield mdl-js-textfield text-left">
                        <label asp-for="Phone"></label>
                        <input asp-for="Phone" class="mdl-textfield__input" />
                    </div>
                    <br />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                    <br />

                    <div class="mdl-textfield mdl-js-textfield text-left">
                        <label asp-for="LastPurchase"></label>
                        <input asp-for="LastPurchase" class="mdl-textfield__input" />
                    </div>
                    <br />
                    <span asp-validation-for="LastPurchase" class="text-danger"></span>
                    <br />


                    <div class="mdl-textfield mdl-js-textfield text-left">
                        <label asp-for="Classification"></label>
                        <select asp-for="Classification" asp-items="Html.GetEnumSelectList<Classification>()" class="form-control"></select>
                    </div>
                    <br />
                    <span asp-validation-for="Classification" class="text-danger"></span>
                    <br />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-button--primary" />
                    <a asp-action="Index" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">undo</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
