@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            @if (Model.ModelState.ErrorCount > 0)
            {
                <div asp-validation-summary="ModelOnly" style="min-height:0; margin-top:4%; width:100%" class="mdl-card mdl-shadow--4dp alert-danger"></div>
            }

            <div class="mdl-textfield mdl-js-textfield">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="mdl-textfield__input" />
            </div>
            <br />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>

            <div class="mdl-textfield mdl-js-textfield">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="mdl-textfield__input" />
            </div>
            <br />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            
            <div class="mdl-textfield mdl-js-textfield">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="mdl-textfield__input" />
            </div>
            <br />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            
            <button type="submit" class="mdl-button mdl-js-button mdl-button--primary">Update Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
