@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            @if (Model.ModelState.ErrorCount > 0)
            {
                <div asp-validation-summary="ModelOnly" style="min-height:0; margin-top:4%; width:100%" class="mdl-card mdl-shadow--4dp alert-danger"></div>
            }

            <div class="mdl-textfield mdl-js-textfield">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="mdl-textfield__input" />
            </div>
            <br />
            <span asp-validation-for="Input.Email" class="text-danger"></span>


            <div class="mdl-textfield mdl-js-textfield">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="mdl-textfield__input" />
            </div>
            <br />
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

            <button type="submit" class="mdl-button mdl-js-button mdl-button--primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
